#sidebarContainer {
  all: unset;
  right: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  padding: 2px;
}

.summariserIcon314 {
  height: 50px;
  width: 56px;
  right: 0px;
  padding: 2px;
}

.sidebarMenuItem {
  display: flex;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
}

.menuIcon314 {
  all: unset;
  height: 40px;
  width: 44px;
  right: 0px;
  padding: 4px;
}

#body-wrapper {
  padding-left: 10%;
}