.sidebarContainer {
  all: unset;
  width: 100%;
  height: 100%;
}

.sidebarList {
  all: unset;
  height: 100%;
  width: 100%;
  list-style-type: none;
}

.sidebarList .menu-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
  margin: 0;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 3rem;
}

.sidebarList .menu-row:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}

.sidebarList #active {
  background-color: white;
  color: black;
}
.menu-row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.menu-row #title {
  flex: 70%;
}


.summariserIcon314 {
  height: 50px;
  width: 56px;
  right: 0px;
  padding: 2px;
}

.menuIcon314 {
  all: unset;
  height: 40px;
  width: 44px;
  right: 0px;
  padding: 4px;
}

#body-wrapper {
  padding-left: 10%;
}